{% extends 'base.html.twig' %}

{% block title %}PlanetHvH | Play{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-900 text-white">
        <header class="bg-gray-800 p-4 shadow-lg">
            <div class="container mx-auto flex justify-between items-center">
                <h1 class="text-3xl font-bold">CS2 Matchmaking</h1>
                <nav>
                    <ul class="flex space-x-4">
                        <li><a href="" class="hover:text-gray-400">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="container mx-auto py-8">
            <h1 class="text-3xl font-bold mb-4">Server List</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                {% for server in servers %}
                    {{ dump(server) }}
                <div class="bg-white shadow-md rounded-lg overflow-hidden">
                    <div class="px-6 py-4">
                        <h2 class="font-bold text-black text-xl mb-2"></h2>
                    </div>
                    <div class="px-6 py-4">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">RAM:  MB</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Disk: MB</span>
                    </div>
                </div>
                {% endfor %}

                <!-- Card 3: Logout -->
                <div class="bg-gray-800 rounded-lg shadow-lg p-6">
                    <h2 class="text-xl font-semibold mb-4">Logout</h2>
                    <p class="text-gray-300">Logout from your account.</p>
                    <a href="{{ path('app_logout') }}" class="block mt-4 text-red-500 hover:text-red-700">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

